target/
project/project
project/target
test_run_dir
essent_run_dir

rocket/TestHarness-harness.cc
rocket/TestHarness.h
rocket/emulator
rocket/emulator-head
rocket/*.riscv
rocket/riscv*
rocket/old_emulators
rocket/to_del
rocket/todo
