[submodule "SimpleJSON"]
	path = SimpleJSON
	url = https://github.com/nbsdx/SimpleJSON.git
[submodule "rocket16/riscv-fesvr"]
	path = rocket16/riscv-fesvr
	url = https://github.com/riscv/riscv-fesvr
[submodule "rocket18/riscv-fesvr"]
	path = rocket18/riscv-fesvr
	url = https://github.com/riscv/riscv-fesvr.git
[submodule "boom/riscv-fesvr"]
	path = boom/riscv-fesvr
	url = https://github.com/riscv/riscv-fesvr.git
[submodule "essent"]
	path = essent
	url = git@github.com:ucsc-vama/essent.git
[submodule "firrtl-sig"]
	path = firrtl-sig
	url = git@github.com:ucsc-vama/firrtl-sig.git
[submodule "rocket-recent/riscv-fesvr"]
	path = rocket20/riscv-fesvr
	url = https://github.com/riscv/riscv-fesvr.git
[submodule "riscv-mini/riscv-mini"]
	path = riscv-mini/riscv-mini
	url = https://github.com/ucb-bar/riscv-mini.git
[submodule "dinocpu/dinocpu"]
	path = dinocpu/dinocpu
	url = https://github.com/jlpteaching/dinocpu.git
[submodule "rocket-recent/riscv-isa-sim"]
	path = rocket-recent/riscv-isa-sim
	url = https://github.com/riscv/riscv-isa-sim.git
[submodule "boom21/riscv-fesvr"]
	path = boom21/riscv-fesvr
	url = https://github.com/riscv/riscv-fesvr.git
