[submodule "chisel3"]
	path = chisel3
	url = https://github.com/ucb-bar/chisel3.git
[submodule "firrtl"]
	path = firrtl
	url = https://github.com/ucb-bar/firrtl.git
[submodule "chisel-testers"]
	path = chisel-testers
	url = https://github.com/ucb-bar/chisel-testers.git
[submodule "firrtl-interpreter"]
	path = firrtl-interpreter
	url = https://github.com/ucb-bar/firrtl-interpreter.git
[submodule "essent"]
	path = essent
	url = git@socks.lbl.gov:sbeamer/essent.git
