name: Scala/C++ CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  # small-designs:
  #   runs-on: ubuntu-latest

  #   steps:
  #     - uses: olafurpg/setup-scala@v14
  #     - name: checkout essent & firrtl-sig
  #       uses: actions/checkout@v4
  #       with:
  #           submodules: true

  #     - name: build stuff
  #       run: sbt compile

  #     - name: run small designs
  #       run: sbt 'run all'

  rocket:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        core: [rocket16, rocket20]

    steps:
      - uses: olafurpg/setup-scala@v14
      - name: checkout essent & firrtl-sig
        uses: actions/checkout@v4
        with:
            submodules: true

      - name: gen Verilog
        working-directory: ${{ matrix.core }}/
        run: |
          make TestHarness.v
          ls

      - name: Verilog Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.core }} Verilog
          path: ${{ matrix.core }}/TestHarness.v

      - name: make emulator
        working-directory: ${{ matrix.core }}/
        run: make emulator

      - name: Sim Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.core }} Sim
          path: ${{ matrix.core }}/TestHarness.h

      - name: run emulator
        working-directory: ${{ matrix.core }}/
        run: ./emulator dhrystone.riscv


    
